.period-form {
	font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
	.period-form-descripton {
		.period-form-item {
			display: table-row;
			
			.period-form-item--description,
			.period-form-item--value {
				line-height: 22px;
				display: table-cell;
				padding: 3px 0;
				white-space: nowrap;
				text-overflow: ellipsis;
				color: rgba(0,0,0,.5);
			}
			.period-form-item--value {
				padding-left: 35px;
				white-space: normal;
				color: #000;
			}

			.period-form-item--price {
				font-size: 14px;
				color: #0823ffa8;
			}
		}
	}
}