
:root {
	--button-primary-color: #ff5252;
	--button-success-color: #4caf50;
	--button-info-color: #369dbb;
	--button-warning-color: #dc9f48;
	--button-danger-color: #c74d49;
}


.button-default {
	position: relative;
	display: inline-block;
	padding: .5em;
	background-image: linear-gradient(#fff, #ddd);
	border: 1px solid #ccc;
	border-radius: 2px;
	text-align: center;
	cursor: pointer;
	outline: 0;
	vertical-align: middle;

	&:after {
		content: '';
		display: inline-block;
		width: 0;
		height: 100%;
		vertical-align: middle;
	}

	&:active {
		background: linear-gradient(#ddd, #fff);
	}

	&.button-default--disabled {
		background-color: #bababa !important;
		border: 1px solid color(#bababa b(10%)) !important;
	}

	&.button-default--selected{
		background: linear-gradient(#f2f2f2, #a0a0a0);
	}

	&.button-default--primary {
		background-image: none;
		background-color: var(--button-primary-color);
		border: 1px solid color(var(--button-primary-color) b(10%));
		color: #fff;

		&.button-default--primary--reverse {
			background-color: #fff;
			border: 1px solid color(var(--button-primary-color) b(10%));
			color: var(--button-primary-color);
		}
	}

	&.button-default--success {
		background-image: none;
		background-color: var(--button-success-color);
		border: 1px solid color(var(--button-success-color) b(10%));
		color: #fff;

		&.button-default--success--reverse {
			background-color: #fff;
			border: 1px solid color(var(--button-success-color) b(10%));
			color: var(--button-success-color);
		}
	}

	&.button-default--info {
		background-image: none;
		background-color: var(--button-info-color);
		border: 1px solid color(var(--button-info-color) b(10%));
		color: #fff;

		&.button-default--info--reverse {
			background-color: #fff;
			border: 1px solid color(var(--button-info-color) b(10%));
			color: var(--button-info-color);
		}
	}

	&.button-default--warning {
		background-image: none;
		background-color: var(--button-warning-color);
		border: 1px solid color(var(--button-warning-color) b(10%));
		color: #fff;

		&.button-default--warning--reverse {
			background-color: #fff;
			border: 1px solid color(var(--button-warning-color) b(10%));
			color: var(--button-warning-color);
		}
	}

	&.button-default--danger {
		background-image: none;
		background-color: var(--button-danger-color);
		border: 1px solid color(var(--button-danger-color) b(10%));
		color: #fff;

		&.button-default--danger--reverse {
			background-color: #fff;
			border: 1px solid color(var(--button-danger-color) b(10%));
			color: var(--button-danger-color);
		}
	}
}